<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
body{
  background-color: #ff9f1c;
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #f94144;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

</style>

<!--<script>
  function retrieve() {
 var userId = document.getElementById('uname').value
 var token = document.getElementById('psw').value
  }
</script>-->
</head>
<body>
<h2>Sitio Multifactor</h2>


  <div class="container">
    

    <form action="/api/regist" method="post">
    <label for="uname"><b>Usuario</b></label>
    <input type="text" placeholder="Enter Username" name="userId" required id="uname">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="secret" required id="psw">

        <button id='verificar' type="submit" value="verificar" name='verificar' >Crear Usuario</button>
    </form>
  </div>
</body>
</html>
