<!DOCTYPE html>
<html>
<head>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        body{
          background-color: #ff9f1c;
        }
        form {border: 3px solid #f1f1f1;}
        
        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        
        button {
          background-color: #f94144;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
        }
        
        button:hover {
          opacity: 0.8;
        }
        
        .container {
          padding: 16px;
        }
        
        span.psw {
          float: right;
          padding-top: 16px;
        }
        
        @media screen and (max-width: 300px) {
          span.psw {
             display: block;
             float: none;
          }
          .cancelbtn {
             width: 100%;
          }
        }
        
        </style>
</head>
<body>

<form action="/enviar" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" />
    <button type="submit">Subir archivo</button>
</form>

<form action="/cifrar" method="post" enctype="multipart/form-data">
    <button type="submit">Firmar</button>
</form>

<form action="/decifrar" method="post" enctype="multipart/form-data">
    <button type="submit">Verificar Firma</button>
</form>

<form action="/cifradirijillo" method="post" enctype="multipart/form-data">
    <button type="submit">Cifrar Archivo</button>
</form>

<form action="/decifradirijillo" method="post" enctype="multipart/form-data">
    <button type="submit">Decifrar Archivo</button>
</form>

<form action="/subidos" method="post" enctype="multipart/form-data">
    <button type="submit">Mostrar archivos subidos</button>
</form>

<form action="/cifrados" method="post" enctype="multipart/form-data">
    <button type="submit">Mostrar archivos firmados</button>
</form>

<form action="/decifrados" method="post" enctype="multipart/form-data">
    <button type="submit">Mostrar archivos con Firma comprobada</button>
</form>

<form action="/cifradillos" method="post" enctype="multipart/form-data">
    <button type="submit">Mostrar archivos cifrados</button>
</form>

<form action="/decifradillos" method="post" enctype="multipart/form-data">
    <button type="submit">Mostrar archivos decifrados</button>
</form>

</body>
</html>
